<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <%- include('../components/header.ejs'); %>
    <form method="post" action="">
      <input name="send" type="submit" value="設備控制" />
      <input name="send" type="submit" value="參數設定" />
      <input name="send" type="submit" value="手動控制" />
    </form>
  </body>
</html>
