<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <form method="post" action="/">
            <input  name="send" type="submit" value="設備控制">
            <input  name="send" type="submit" value="參數設定">
            <input  name="send" type="submit" value="手動控制">
        </form>

        <label>設備選擇</label>
            <select name="sel_device" id="sel_device">
                <% for(var i=0; i< device_list.length; i++){ %>
                    <option value = "<%- device_list[i] %>"><%- device_list[i] %></option>
                <% } %>
            </select>
            <br>
            <p>
                <label>高度</label>
                <input id="hight" type="number" name="web_counter" max="400" min="0" value="0">
                <label>mm</label>
            </p>
            <p>
                <label>速度</label>
                <input id="speed" type="number" name="web_counter" max="400" min="0" value="0">
                <label>rpm</label>
            </p>
            <button class="add_button">+1</button>   
            <button class="add_button">+5</button>   
            <button class="add_button">+10</button>              
            <p>
                <label>目前設備</label>
                <label id="now_device"></label>
            </p>
            <p>
                <label>目前高度</label>
                <label id="shwo_now_hight"></label>
            </p>
            <br>
        <button id="implement" >開始移動</button>
        <button id="H_reset" >位置重製</button>  <!-- 未測試 -->
        <button id="stop" >停止移動</button>  <!-- 未製作 -->
        <button id="isokinetic" >等速移動</button>  <!-- 未製作 -->
        
        <p id="req"></p>
        <!-- <form action="/control" method="post">
            
            
            <input type="submit" value="開始運作" name="send">
        </form> -->
        
    </body>
    <script>
        $(document).ready(function() {
            var socket = io.connect();
            // 2
            socket.on('get_hight', function(m) {
                //console.log(m);
                $("#shwo_now_hight").text(m);
                /* $('#panel').html($('#panel').html()+'<br>'+m); */
            });

            socket.on('manual_reset', function(m) {
                //console.log(m);
                $("#hight").val(m);
                /* $('#panel').html($('#panel').html()+'<br>'+m); */
            });

            $(function(){
                setInterval(function () {
                    socket.emit('get_hight', {"mac" : $("#sel_device").val()});
                    //console.log("1");
                },500);
            });

            $("#implement").click(function(){
                var data={"mac" : $("#sel_device").val(),
                          "web_counter" : parseInt($("#hight").val())}
                socket.emit('manual', data);
            });

            $("#H_reset").click(function(){
                var data={"mac" : $("#sel_device").val()}
                socket.emit('manual_reset', data);
            });

            
            $(".add_button").click(function(){
                var num = parseInt($(this).text().substr(1));
                var H_count=parseInt($("#hight").val());
                var data={"mac" : $("#sel_device").val(),
                          "web_counter" : H_count+num};
                socket.emit('manual', data);
                $("#hight").val(H_count + num);
            })
        });
        
/*         function btn_add_hight(num){
            var H_count=parseInt($("#hight").val());
            $.ajax({
                url:"/manual",
                method:"post",
                dataType:"json",
                data:{"mac" : $("#sel_device").val(),
                      "web_counter" : H_count + num},
                success:function(res){
                    console.log(res);
                    $("#hight").val(H_count + num);
                },
                error:function(err){console.log(err)},
            });
        } */

        $("#sel_device").change(function(){
            $("#now_device").text($(this).val());
        });

        /* $("#implement").click(function(){
            $.ajax({
                url:"/manual",
                method:"post",
                dataType:"json",
                data:{"mac" : $("#sel_device").val(),
                      "web_counter" : parseInt($("#hight").val())},
                success:function(res){
                    console.log(res)
                },
                error:function(err){console.log(err)},
            });
        }); */
        
    </script>
</html>